password.tf
automation/terraform/aws/.terraform/*
automation/terraform/aws/.terraform.lock.hcl
automation/terraform/aws/restart/.terraform/*
automation/terraform/aws/restart/.terraform.lock.hcl
automation/ansible/files/ssl_cert/*
automation/terraform/aws/terraform.tfstate.backup
automation/terraform/aws/terraform.tfstate
automation/ansible/files/harbor/install/*.tar.gz
automation/ansible/files/k8s_cert/*
automation/ansible/files/cloud_tool/*
automation/ansible/files/k8s_istio/istio-1.14.0/bin/*
automation/ansible/files/admin
automation/ansible/files/jdk
automation/ansible/files/gradle
automation/ansible/files/jenkins
automation/ansible/files/sonarqube
automation/ansible/playbooks/admin.yaml
automation/ansible/roles/admin
automation/ansible/files/k8s_argocd/argocd_token
automation/ansible/files/k8s_argocd/*.json
