{
  "items": [
    {
      "certData": "{{gitlab_rootca}}",
      "certInfo": "",
      "certSubType": "",
      "certType": "https",
      "serverName": "{{infra_lb_domain}}"
    }
  ],
  "metadata": {}
}