KUBELET_KUBEADM_ARGS="--container-runtime=remote --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock --pod-infra-container-image=registry.k8s.io/pause:{{k8s_pause_version}} --node-status-update-frequency={{node_status_update_frequency_second}}s"